@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --bg-color: #fdfcfb;
  --text-color: #1e1e1e;
  --accent-color: #4a7c59;
  --highlight-color: #e3b23c;
  --secondary-color: #6c63ff;
  --natural-color: #a67c52;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
}

button {
  background-color: var(--highlight-color);
  color: white;
  border: none;
}

h1{
  font-weight: 700;
}

